/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap');

/* css reset */
@import url('./assets/reset.css');


/* general */
* {
    font-family: 'Noto Sans TC', sans-serif;
    text-align: left;
    transition: outline 0.1s;
}

.font-size-small {
    font-size: 87.5%;
}

.font-size-large {
    font-size: 125%;
}

*:focus {
    outline: solid 3px var(--focus-color) !important;
}

.display-none {
    display: none !important;
}

.transition-none {
    transition: none !important;
}

.rotate180 {
    rotate: 180deg;
}

button:hover {
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

a[target="_blank"]:after {
    content: '';
    background-image: url('/assets/external-link.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    height: 0.7em;
    width: 0.7em;
    margin: 0 0.1em 0 0.1em;
}

/* css start */
:root {
    --primary: #9a253d;
    --on-primary: #ffffff;
    --primary-container: #ffdadc;
    --on-primary-container: #40000f;
    --secondary: #694a4d;
    --on-secondary: #ffffff;
    --secondary-container: #ffdadc;
    --on-secondary-container: #2c1517;
    --tertiary: #595051;
    --on-tertiary: #ffffff;
    --tertiary-container: #ffddb5;
    --on-tertiary-container: #2a1800;
    --background: #fffbff;
    --on-background: #201a1a;

    --outline: #857374;
    --surface-variant: #f4ddde;
    --on-surface-variant: #463839;

    --content-width: clamp(240px, 100%, 60rem);

    --focus-color: #ba1a1a;

    --font-weight: 400;
    --font-weight-bold: 600;
}

/* dark */
.dark-theme-palette{
    --primary: #ffb2b9;
    --on-primary: #67001e;
    --primary-container: #891832;
    --on-primary-container: #ffdadc;
    --secondary: #e5bdbf;
    --on-secondary: #44292c;
    --secondary-container: #5c3f41;
    --on-secondary-container: #ffdadc;
    --tertiary: #e8c08e;
    --on-tertiary: #442b06;
    --tertiary-container: #5d411b;
    --on-tertiary-container: #ffddb5;
    --background: #201a1a;
    --on-background: #ece0df;

    --outline: #9f8c8d;
    --surface-variant: #463839;
    --on-surface-variant: #f4ddde;

    --focus-color: #ffb4ab;

}

.mono-theme-palette{
    --primary: #595051;
    --on-primary: #ffffff;
    --primary-container: #201a1a;
    --on-primary-container: #ece0df;
    --secondary: #595051;
    --on-secondary: #ffffff;
    --secondary-container: #201a1a;
    --on-secondary-container: #ece0df;
    --tertiary: #595051;
    --on-tertiary: #ffffff;
    --tertiary-container: #201a1a;
    --on-tertiary-container: #ece0df;
    --background: #000000;
    --on-background: #ece0df;

    --outline: #998e8e;
    --surface-variant: #362f2f;
    --on-surface-variant: #d0c4c4;

    --focus-color: #d0c4c4;

}


body {
    --header-height: 4rem;
    --header-btn-height: 4rem;
    --header-btn-icon-size: 2rem;
    --header-padding-vertical: 0.5rem;
    --header-padding-horizontal: 1rem;

    background-color: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: var(--header-padding-vertical) var(--header-padding-horizontal);
    background-color: var(--surface-variant);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* border-bottom: 1px solid var(--outline); */
    z-index: 99;

    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
}

body > *:nth-child(2) {
    margin-top: calc(var(--header-height) + var(--header-padding-vertical) * 2);
}

.header-btn {
    height: var(--header-btn-height);
    width: var(--header-btn-height);
    background-color: transparent;
    border-radius: 50%; 
    /* margin: 0 1rem; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn > span{
    font-size: var(--header-btn-icon-size);
    color: var(--on-surface-variant);
}

.header-btn:hover {
    background-color: var(--primary-container);
}

.header-btn:hover > span {
    color: var(--on-primary-container);
}   

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: calc(var(--header-btn-height) - 0.5rem);
    height: calc(var(--header-btn-height) - 0.5rem);
}

.logo h1 {
    font-size: 1.7rem;
    font-weight: var(--font-weight);
    color: var(--on-surface-variant);
}

.nav-bg {
    position: fixed;
    inset: 0;
    background-color: #000000;
    opacity: 0.3;
    transition: 0.3s;
}


nav {
    --nav-width: 23rem;
    --nav-btn-height: 3.5rem;
    --nav-border-radius: calc(var(--nav-btn-height) / 2);

    --nav-font-size: 1.5rem;
    --nav-font-weight: 400;

    position: fixed;
    inset: 0 calc(100% - var(--nav-width)) 0 0;
    background-color: var(--background);
    padding: var(--header-padding-vertical) calc(var(--header-padding-horizontal) / 2);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0 1rem 1rem 0;
    font-size: var(--nav-font-size);
    font-weight: var(--font-weight);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

nav > * > *:not(:first-child) {
    margin-block-start: 0.5rem;
}

.menu-opened {
    transform: translateX(0);

}

.nav-top-btn {
    width: var(--header-btn-height);
    height: var(--header-btn-height);
    border-radius: 50%;
    margin: 0 0 0 calc(var(--header-padding-horizontal) / 2);

    display: grid;
    justify-content: center;
    align-items: center;
}

.nav-top-btn > span {
    font-size: var(--header-btn-icon-size);
    color: var(--on-background);
}

.nav-top-btn:hover {
    background-color: var(--primary-container);
}

.nav-top-btn:hover > span {
    color: var(--on-primary-container);
    /* font-weight: 400; */
}

.search-bar {
    --search-bar-height: 3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.search-bar > button {
    position: absolute;
    /* margin-left: 1rem; */
    right: 1rem;
    font-size: var(--header-btn-icon-size);
    color: var(--on-background);
    width: var(--search-bar-height);
    height: var(--search-bar-height);
    border-radius: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar > input {
    /* padding-left: 4rem; */
    /* background-color: var(--primary-container); */
    padding: 0 0.7rem;
    height: var(--search-bar-height);
    background-color: transparent;
    outline: 1.5px solid var(--outline);
    border-radius: 3px;
}

.nav-row {
    width: 100%;
    height: var(--nav-btn-height);
    /* background-color: var(--secondary-container); */
    border-radius: var(--nav-border-radius);
    padding: 0 1.5rem;
    font-size: var(--nav-font-size);
    color: var(--on-secondary-container);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-row-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-row span {
    font-size: var(--header-btn-icon-size);
    /* margin-left: calc((var(--header-btn-icon-size) - var(--nav-font-size)) / 2); */
}

.nav-row:hover {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}

.nav-layer-1, .nav-layer-inner {
    transition: opacity 0.3s 0.1s ease-in, transform 0.3s ease-in;
}

.nav-layer-1 {
    margin-block-start: 0.5rem;
}

.nav-layer-inner {
    position: absolute;
    margin-block-start: 4.5rem !important;
    inset: 0;
    padding: var(--header-padding-vertical) calc(var(--header-padding-horizontal) / 2);
    overflow: auto;

    transform: translateX(20%);
    opacity: 0;
}

.nav-layer-inner > .nav-row:not(:first-child) {
    width: calc(100% - var(--nav-btn-height));
    margin-left: var(--nav-btn-height);
}

/* swipper */
.swiper-container {
    width: 400px;
    height: 400px;
    /* background-color: #000000; */

    /* overflow: hidden; */
}

.slider {
    width: var(--content-width);
}



/* main */
main {
    --main-container-grid-template-columns: clamp(6rem, 40%, 10rem) 1fr;
    --main-container-border-radius: 1rem;
    --main-container-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    --main-container-hover-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

    width: var(--content-width);
}

main > * {
    margin-block-start: 2rem;
}

section h2 {
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    color: var(--on-background);
}

.section-content {
    width: 100%;
    padding: 1rem;

    display: grid;
    grid-template-columns: var(--main-container-grid-template-columns);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "title content1"
        "title content2";
    gap: 2rem;
}

.section-content > div {
    grid-area: title;
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    color: var(--on-background);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-more > div {
    width: 8rem;
    height: 2.7rem;
    background-color: var(--primary);
    color: var(--on-primary);
    font-size: 1.2rem;
    font-weight: var(--font-weight);
    border-radius: 2rem;
    /* box-shadow: var(--main-container-box-shadow); */
    transition: box-shadow 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-more > div:hover {
    box-shadow: var(--main-container-box-shadow);
}

.section-content > a[content] {
    background-color: var(--surface-variant);
    color: var(--on-surface-variant);
    font-weight: var(--font-weight);
    padding: 1.5rem;
    border-radius: var(--main-container-border-radius);
    box-shadow: var(--main-container-box-shadow);
    transition: box-shadow 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-content > a[content="1"] {
    grid-area: content1;
}

.section-content > a[content="2"] {
    grid-area: content2;
}

.section-content > a > p {
    font-size: 1.5rem;
}

.section-content > a[content]:hover {
    box-shadow: var(--main-container-hover-box-shadow);
}

.section-nav-container {
    width: 100%;
    padding: 1rem;

    display: grid;
    grid-template-columns: var(--main-container-grid-template-columns);
    /* grid-template-rows: repeat(4, auto); */
    grid-template-areas:
        "title nav";
    gap: 2rem;
}

.section-nav-container > h2 {
    grid-area: title;
}

.section-nav {
    grid-area: nav;

}




.section-nav {
    width: var(--content-width);
    /* padding: 1rem; */
    /* background-color: var(--background); */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
    gap: 1rem;
}

.section-nav > a {
    width: 100%;
    height: 5rem;
    background-color: var(--tertiary-container);
    flex-grow: 1;
    padding: 1rem;
    border-radius: 2.5rem;
    box-shadow: var(--main-box-shadow);
    color: var(--on-tertiary-container);
    font-size: 1.5rem;
    font-weight: var(--font-weight);
    transition: box-shadow 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center; 
}

.section-nav > a:hover {
    box-shadow: var(--main-container-box-shadow);

}


/* footer */
footer {
    width: 100%;
    background-color: var(--surface-variant);
    padding: 1rem;
    color: var(--on-surface-variant);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-header {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);

}

footer ul {
    font-size: 1rem;
}

.footer-copyright {
    font-size: 0.8rem;
}

@media screen and (max-width:768px) {
    .section-content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "title"
            "content1"
            "content2";
    }

    .section-content > div {
        flex-direction: row;
        align-items: end;
    }

    .section-nav-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "title"
            "nav";
    }
}

@media screen and (max-width:400px) {
    .logo img {
        display: none;
    }
}
