/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

/* css reset */
@import url('./assets/reset.css');


/* general */
* {
    font-family: 'Noto Sans TC', sans-serif;
}

.font-size-small {
    font-size: 87.5%;
}

.font-size-large {
    font-size: 125%;
}

*:focus {
    outline: solid 4px var(--focus-color);
}

.displaynone {
    display: none !important;
}

.rotate180 {
    rotate: 180deg;
}

button:hover {
    cursor: pointer;
}

a[target="_blank"]:after {
    content: '';
    background-image: url('/assets/external-link.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    height: 0.7em;
    width: 0.7em;
    margin: 0 0.1em 0 0.1em;
}

/* css start */
:root {
    --primary-color: #783f3f;
    --secondary-color: #525252; 
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #dddddd;
    
    --primary: #aa3248;
    --on-primary: #ffffff;
    --primary-container: #ffdadc;
    --on-primary-container: #40000f;
    --secondary: #765659;
    --on-secondary: #ffffff;
    --secondary-container: #ffdadc;
    --on-secondary-container: #2c1517;
    --tertiary: #775930;
    --on-tertiary: #ffffff;
    --tertiary-container: #ffddb5;
    --on-tertiary-container: #2a1800;
    --background: #fffbff;
    --on-background: #201a1a;
    --outline: #857374;

    --content-width: minmax(1fr, 34rem);

    --focus-color: #ff0000;

    --transition-color: 0.5s;
}

/* 即將更改的色票 */
/* light */

/* dark */
.dark-theme-new{
    --primary-dark: #ffb2b9;
    --on-primary-dark: #67001e;
    --primary-container-dark: #891832;
    --on-primary-container-dark: #ffdadc;
    --secondary-dark: #e5bdbf;
    --on-secondary-dark: #44292c;
    --secondary-container-dark: #5c3f41;
    --on-secondary-container-dark: #ffdadc;
    --tertiary-dark: #e8c08e;
    --on-tertiary-dark: #442b06;
    --tertiary-container-dark: #5d411b;
    --on-tertiary-container-dark: #ffddb5;
    --background-dark: #201a1a;
    --on-background-dark: #ece0df;
    --outline-dark: #9f8c8d;
}

.theme-dark {
    --primary-color: #e2fcfa;
    --secondary-color: #F5F5F5; 
    --primary-bg-color: #282828;
    --secondary-bg-color: #055d54;
    --focus-color: #00ffaa;
    --logo-color: #ffffff;

    --svg-primary-color-filter:invert(86%) sepia(31%) saturate(103%) hue-rotate(118deg) brightness(107%) contrast(98%);
    --svg-primary-bg-color-filter:invert(15%) sepia(0%) saturate(0%) hue-rotate(270deg) brightness(94%) contrast(97%);
} 


body {
    background-color: var(--primary-bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    /* grid-column: 1 / -1; */
    /* height: 1000px; */
    --header-height: 4rem;
    --header-btn-height: 3rem;
    --header-btn-icon-size: 2rem;
    --header-padding-vertical: 0.5rem;
    --header-padding-horizontal: 1rem;

    width: 100%;
    padding: var(--header-padding-vertical) var(--header-padding-horizontal);
    background-color: var(--primary);
    box-shadow: 0 0 5rem #00000033;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn {
    height: var(--header-btn-height);
    width: var(--header-btn-height);
    background-color: transparent;
    border-radius: 50%; 
    /* margin: 0 1rem; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn > span{
    font-size: var(--header-btn-icon-size);
    color: var(--on-primary);
}

.header-btn:hover {
    background-color: var(--primary-container);
}

.header-btn:hover > span {
    color: var(--on-primary-container);
}   

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--on-primary);
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: var(--header-btn-height);
    height: var(--header-btn-height);
}

.nav-bg {
    position: fixed;
    inset: 0;
    background-color: #000000;
    opacity: 0.3;
    transition: 0.3s;
}


nav {
    --nav-width: 20rem;
    --nav-btn-height: 3rem;
    --nav-border-radius: calc(var(--nav-btn-height) / 2);


    --nav-font-size: 1.5rem;
    --nav-font-weight: 500;
    --nav-btn-gap: 1rem;

    position: fixed;
    inset: 0 calc(100% - var(--nav-width)) 0 0;
    background-color: var(--background);
    padding: var(--header-padding-vertical) calc(var(--header-padding-horizontal) / 2);
    overflow: auto;
    border-radius: 0 var(--nav-border-radius) var(--nav-border-radius) 0;
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    /* display: grid; */
    /* gap: var(--nav-btn-gap); */
    /* align-items: start; */
    /* justify-content: center; */
}

nav > *:not(:first-child) {
    margin-block-start: 1rem;
}

.menu-opened {
    transform: translateX(0);

}

.menu-close-btn {
    width: var(--header-btn-height);
    height: var(--header-btn-height);
    background-color: transparent;
    border-radius: 50%;
    margin-left: calc(var(--header-padding-horizontal) / 2);

    display: grid;
    justify-content: center;
    align-items: center;
}

.menu-close-btn > span {
    font-size: var(--header-btn-icon-size);
    color: var(--on-background);
}

.menu-close-btn:hover {
    background-color: var(--primary-container);
}

.menu-close-btn:hover > span {
    color: var(--on-primary-container);
    /* font-weight: 400; */
}


.search {
    width: 100%;
    height: var(--nav-btn-height);
    font-size:1.5rem;
    background-color: var(--secondary-bg-color);
    border-radius: var(--nav-border-radius);

    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-template-rows: 1fr;
    grid-template-areas: "search icon";
}

.search-input {
    grid-area: search;
    min-width: 0;
    padding: 0 1rem;
    border: none;
    background-color: transparent;    
}

.search-input::placeholder {
    color: var(--secondary-color); /* 5.15 vs #dddddd */
}


.search button {
    grid-area: icon;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search button > box-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--primary-color);
}

.nav-row {
    width: 100%;
    height: var(--nav-btn-height);
    /* background-color: var(--secondary-bg-color); */
    border-radius: var(--nav-border-radius);
    padding: 0 1rem;
    font-size: var(--nav-font-size);
    text-decoration: none;
    color: var(--on-secondary-bg-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-row-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-row-inner > span {
    font-size: var(--header-btn-icon-size);
    /* margin-left: calc((var(--header-btn-icon-size) - var(--nav-font-size)) / 2); */
}

.nav-row:hover {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}


.accessibility-hidden {
    display: none;
}

#accessibility-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-bg-color);
    padding: 10px;
    border: 2px solid var(--secondary-bg-color);
    z-index:2;
    flex-direction: column;
}

#accessibility-popup button {
    margin-right: 5px;
    color:var(--primary-color);
    background-color: var(--secondary-bg-color);
    border-radius: 0.5rem;
    display: flex;
    padding: 10px;
    margin:2.5px 0;
    font-size:var(--nav-font-size);

    white-space: nowrap;
    z-index:3;
}
  

.nav-extend-ul {
    width: 100%;
    background-color: var(--secondary-bg-color);
    padding: 0 1rem 1rem 2rem;
    color: var(--primary-color);

    
}

.nav-extend-ul > ul {
    display: flex;
    flex-direction: column;
    gap: calc(var(--nav-btn-gap) / 2);
}

.nav-extend-ul a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
}


/* main */
main {
    --main-primary-border-radius: 5rem;
    --main-secondary-border-radius: 0.5rem;
    --main-box-shadow: 5px 5px var(--primary-color);

    width: var(--content-width);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-content {
    position: relative;
  }
  
.slide-content .text {
position: absolute;
width: 100%;
background-color: var(--primary-bg-color);
color: var(--secondary-color);
padding: 10px;
text-align: center;
font-size: 18px;
bottom: -45px; /* Adjust the value to increase or decrease the distance between the slide and the caption */
}
  
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--secondary-bg-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--secondary-bg-color);
}

/* Caption text */
.text {
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot-container {
    margin-top: 40px; /* Adjust the value to increase or decrease the distance between the dots and the slide */
  }  

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  font-size: 100%;
  height: 1rem;
  width: 1rem;
  margin: 0 2px;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--primary-color);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

section {
    margin-top: 1rem;

    width: var(--content-width);
    padding: 1rem;
    background-color: var(--primary-bg-color);

    display: grid;
    grid-template-columns: clamp(6rem, 40%, 10rem) 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "title content1"
        "title content2";
    gap: 1rem;
}

section a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-bg-color);
    box-shadow: var(--main-box-shadow);
    /* transition: 0.1s; */
}

section a:has(p) {
    border-radius: var(--main-secondary-border-radius);

}


section a:hover {
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
}


section a:has(h2) {
    grid-area: title;
    padding: 1rem;
    border-radius: var(--main-primary-border-radius);


    display: flex;
    justify-content: center;
    align-items: center;
}

section a:has(h2) h2 {
    font-size: 2.5rem;
    text-align: center;
    /* border: solid 1rem; */
}

section a:has(span)[content="1"] {
    grid-area: content1;
}

section a:has(span)[content="2"] {
    grid-area: content2;
}

section a:has(span) {
    padding: 1rem 1.8rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section p {
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    font-size: 1.5rem;
    font-weight: 600;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

section span {
    font-size: 1rem;
    font-weight: 600;
}

.main-nav {
    width: var(--content-width);
    padding: 1rem;
    /* background-color: var(--primary-bg-color); */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
    gap: 1rem;
}

.main-nav > a {
    width: 17rem;
    width: 100%;
    height: var(--nav-btn-height);
    background-color: var(--secondary-bg-color);
    flex-grow: 1;
    padding: 1rem;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    border-radius: var(--main-primary-border-radius);

    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;


    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-nav > a:hover {
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
}

.main-nav .two-icons{
    display: flex;
    align-items: center;
    font-size: 100%;
}

/* footer */
footer {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--primary-bg-color);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-header {
    font-size: 1.5rem;
    font-weight: 600;
}

footer ul {
    font-size: 1rem;
    /* font-weight: 600; */
}

.footer-copyright {
    font-size: 0.8rem;
}